* {
box-sizing:border-box;
}
body {
  background: #EEF0F2;
  padding: .5rem;
  line-height: 1.4;
  font-family: sans-serif;
}
header {
    background:#846A6A;
    font: 100 1rem/1.2 sans-serif ;
  }
  .logo-combo{
    display: flex;
    align-items: center;
  }
  .logo {
    display: block;
    margin-right: 1rem;
    width: 100px;
    height: 100px;
  }
  nav {
    background-color:#353B3C;
  }
  nav ul {
    list-style:none;
    display:flex;
    justify-content:space-between;
    padding:0;
    margin:0;
}
nav a {
    display:block;
    margin: 10px;
    color:white;
    text-decoration:none;
  }
  main {
    margin: 50px auto 0;
    max-width: 1020px;
    
    .makeup,
    .lipstick,
    .brushes
    .eyeshadow {
      max-width: 350px;
    }
    
    .makeup {
      clip-path: circle();
      float: left;
      shape-outside: circle(45%);
      transform: translate(-15%);
    }
    
    .lipstick {
      clip-path: ellipse();
      float: right;
      shape-outside: ellipse(45%);
      transform: translate(15%);
    }
    
    .brushes {
      float: left;
      clip-path: polygon(52% 1.4%, 5% 0, 5% 195px, 50% 95%, 65% 79%);
      shape-outside: polygon(52% 1.4%, 5% 0, 5% 195px, 50% 95%, 65% 79%);
      transform: translate(-5%);
    }
    .container{
      border: #846A6A;
      border-radius: 15%;
    }
    .eyeshadow {
      width: 500px;
      mix-blend-mode: exclusion;
      clip-path: inset(5% 20% 15% 10%);
      float: right;
    }

    p {
      color: #dadada;
      line-height: 1.6;
    }
  }