@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Delicious+Handrawn&display=swap');
* {
box-sizing:border-box;
}
body {
  background: #000;
  padding: .5rem;
  line-height: 1.4;
}
header {
    background:#846A6A;
    font: 100 1rem/1.2 sans-serif ;
  }
  .logo-combo{
    display: flex;
    align-items: center;
  }
  .logo {
    display: block;
    margin-right: 1rem;
    width: 100px;
    height: 100px;
    filter: grayscale(75%);
  }

  nav {
    background-color:#353B3C;
  }
  nav ul {
    list-style:none;
    display:flex;
    justify-content:space-between;
    padding:0;
    margin:0;
}
nav a {
    display:block;
    margin: 10px;
    color:white;
    text-decoration:none;
  }
  main {
    margin: 50px auto 0;
    max-width: 1320px;
  }
    .makeup,
    .lipstick,
    .brushes
      {
      max-width: 350px;
    }
    
    .makeup {
      clip-path: circle();
      float: left;
      shape-outside: circle(45%);
      transform: translate(-15%);
    }
    
    .lipstick {
      clip-path: ellipse();
      float: right;
      shape-outside: ellipse(45%);
      transform: translate(15%);
    }
    
    .brushes {
      float: left;
      clip-path: polygon(52% 1.4%, 5% 0, 5% 195px, 50% 95%, 65% 79%);
      shape-outside: polygon(52% 1.4%, 5% 0, 5% 195px, 50% 95%, 65% 79%);
      transform: translate(-5%);
    }
    .palettes{
      background-color: #846A6A;
      padding-left: 2%;
    }
    .eyeshadow {
      margin: 0 ;
      width: 500px;
      clip-path: inset(5% 20% 15% 10%);
      float: right;
       mix-blend-mode: multiply;
    }

    p {
      color: #dadada;
      line-height:1.8;
    }
    h2{
      color:#A2999E;
      font-size: 32pt;
    }
    h3{
      font-size: 32pt;
      color: white;
    }
 